<nav>
    <div class="nav-left">
        <div id="riot-games">
            <img src="{{ asset('images/home/riot.svg') }}" alt="Riot Games Logo">

            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="led led-admin"></div>
                {% elseif app.user.riotAccount is not null%}
                    <div class="led led-linked"></div>
                {% else %}
                    <div class="led led-not-linked"></div>
                {% endif %}
            {% else %}
                <div class="led"></div>
            {% endif %}
        </div>

        <ul>
            <li><a href="{{ path('app_actualites_lister') }}">Actualités</a></li>
            <li><a href="/objets">Objets</a></li>
            <li><a href="{{ path('app_champions_lister') }}">Champions</a></li>
            <li><a href="{{ path('app_compositions_lister') }}">Compositions</a></li>
        </ul>
    </div>

    <a id="tftools" href="{{ path('home') }}">
        <img src="{{ asset('images/home/tft-icon.svg') }}" alt="TFTools Logo">
    </a>

    <div class="nav-right">
        {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-btn-white" href="{{ path('admin') }}">Admin</a>
            {% else %}
                <a class="nav-btn" href="{{ path('compte') }}"><i class="fa-solid fa-user-ninja"></i> {{ app.user.pseudo }}</a>
            {% endif %}
            <a class="nav-btn" href="{{ path('app_deconnexion') }}">Déconnexion</a>
        {% else %}
            <a class="nav-btn" href="{{ path('app_connexion') }}">Connexion</a>
            <a class="nav-btn" href="{{ path('app_inscription') }}">Inscription</a>
        {% endif %}

    </div>


</nav>

{#<nav>#}
{#    <div>#}
{#        <img id="riot-games" src="" alt="Riot Games Logo">#}
{#        <div class="led"></div>#}
{#    </div>#}

{#    <ul>#}
{#        <li><a href="/actus">Actualités</a></li>#}
{#        <li><a href="/champions">Champions</a></li>#}
{#        <li><a href="/compositions">Compositions</a></li>#}
{#    </ul>#}

{#    <a href="{{ path(app) }}">#}
{#        <img id="tftools" src="" alt="TFTools Logo">#}
{#    </a>#}

{#    <a>Lier un compte</a>#}
{#    <a>Déconnexion</a>#}
{#</nav>#}

{#<nav>#}
{#    <div>#}
{#        <img id="riot-games" src="" alt="Riot Games Logo">#}
{#        <div class="led"></div>#}
{#    </div>#}

{#    <ul>#}
{#        <li><a href="/actus">Actualités</a></li>#}
{#        <li><a href="/champions">Champions</a></li>#}
{#        <li><a href="/compositions">Compositions</a></li>#}
{#    </ul>#}

{#    <a href="{{ path(app) }}">#}
{#        <img id="tftools" src="" alt="TFTools Logo">#}
{#    </a>#}


{#</nav>#}
