{% extends '/admin/admin_base.html.twig' %}

{% block title %}Compositions{% endblock %}

{% block body %}

    <div class="container-admin">

        <h1>Liste des compositions</h1>

        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Légende conseillée</th>
                <th scope="col">Place moyenne</th>
                <th scope="col">Actions</th>
                <th scope="col">
                    <a href="{{ path('admin_composition_ajouter') }}">➕</a>
                </th>

            </tr>
            </thead>

            <tbody>
            {% for composition in compositions %}
                <tr>
                    <th scope="row">{{ composition.id }}</th>
                    <td>{{ composition.nom }}</td>
                    <td>{{ composition.legende.nom }}</td>
                    <th >{{ composition.placeMoyenne }}</th>
                    <td>
                        <a href="{{ path('admin_composition_modifier', {'id': composition.id}) }}">🖊️</a>
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer la composition {{ composition.nom }} ? Attention cette action est irréversible.')" href="{{ path('admin_composition_supprimer', {'id': composition.id}) }}">🗑️</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
