{% extends '/admin/admin_base.html.twig' %}

{% block title %}{{ action }} un objet{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ action }} un objet</h1>
        {{  form_start(form) }}

        <div class="form-row">
            {{  form_row(form.nom) }}
        </div>

        <div class="form-row">
            {{  form_row(form.description) }}
        </div>

        <div class="form-row">
            {{  form_row(form.embleme) }}
        </div>

        <div class="form-row">
            {{  form_row(form.recette) }}
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}
