{% extends '/admin/admin_base.html.twig' %}

{% block title %}{{ action }} un objet{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ action }} un objet</h1>
        {{  form_start(form) }}

        <div class="form-row">
            {% if objet is not null %}
                <img src="{{ asset('images/objets/' ~ objet | lower | replace({' ': '_', "'": '-', 'é': 'e', 'è': 'e', 'î': 'i', 'œ': 'oe', 'â': 'a'} ) ~ '.png') }}">
            {% endif %}
            {{  form_row(form.nom) }}
        </div>

        <div class="form-row">
            {{  form_row(form.description) }}
        </div>

        <div class="">
            <h3>Recette :</h3>

            <div class="form-row">
                {{  form_row(form.embleme) }}
            </div>

            <div class="form-row">
                {{  form_row(form.premierItem) }}
            </div>

            <div class="form-row">
                {{  form_row(form.secondItem) }}
            </div>
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}
