{% extends '/admin/admin_base.html.twig' %}

{% block title %}Objets{% endblock %}

{% block body %}

    <div class="container-admin">

        <h1>Liste des objets</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Emblème</th>
                <th scope="col">Recette</th>
                <th scope="col">Actions</th>
                <th scope="col">
                    <a href="{{ path('admin_objet_ajouter') }}">➕</a>
                </th>

            </tr>
            </thead>

            <tbody>
            {% for objet in objets %}
                <tr>
                    <th scope="row">{{ objet.id }}</th>
                    <td class="img-name">
                        <img src="{{ asset('images/objets/' ~ objet.nom ~ '.png') }}">
                        {{ objet.nom }}
                    </td>
                    <td>{{ objet.embleme ? 'Oui' : 'Non' }}</td>
                    <td>
                        {% for item in objet.recette %}
                            <div>
                                <img src="{{ asset('images/items/'~ item.nom ~ '.png') }}">
                                {{ item.nom}}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin_objet_modifier', {'id': objet.id}) }}">🖊️</a>
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ objet.nom }} ? Attention cette action est irréversible.')" href="{{ path('admin_objet_supprimer', {'id': objet.id}) }}">🗑️</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
