<nav>
    <div class="nav-left">
        <div class="logos">
            <a href="{{ path('admin') }}">
                <img id="tftools" src="{{ asset('images/home/tft-icon.svg') }}" alt="TFTools Logo">
                <img id="riot-games" src="{{ asset('images/home/admindashboard.svg') }}" alt="Riot Games Logo">
            </a>
        </div>

        <ul>
            <li>
                <a href="{{ path('admin_user_lister') }}">
                    <i title="Utilisateurs" class="fa-solid fa-user"></i>
                </a>
            </li>

            <li>|</li>

            <li>
                <a href="{{ path('admin_actualite_lister') }}">
                    <i title="Actualités" class="fa-solid fa-newspaper"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_item_lister') }}">
                    <i title="Items" class="fa-solid fa-puzzle-piece"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_objet_lister') }}">
                    <i title="Objets" class="fa-solid fa-cubes"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_origine_lister') }}">
                    <i title="Traits" class="fa-regular fa-address-card"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_palier_lister') }}">
                    <i title="Paliers" class="fa-solid fa-tornado"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_champion_lister') }}">
                    <i title="Champions" class="fa-solid fa-street-view"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_composition_lister') }}">
                    <i title="Compositions" class="fa-solid fa-users-rays"></i>
                </a>
            </li>

            <li>
                <a href="{{ path('admin_legende_lister') }}">
                    <i title="Légendes" class="fa-solid fa-hand-holding-heart"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-right">
        <select>
            <option>Admin</option>
            <option>Anonyme</option>
        </select>
        <a class="nav-btn" href="{{ path('app_deconnexion') }}">Déconnexion</a>
    </div>


</nav>