<nav>
    <div class="nav-left">
        <div class="logos">
            <a href="{{ path('admin') }}">
                <img id="tftools" src="{{ asset('images/tft-icon.svg') }}" alt="TFTools Logo">
                <img id="riot-games" src="{{ asset('images/admindashboard.svg') }}" alt="Riot Games Logo">
            </a>
        </div>

        <ul>
            <li><a href="#">Utilisateurs</a></li>
            <li>|</li>
            <li><a href="{{ path('admin_actualite_lister') }}">Actualités</a></li>
            <li><a href="#">Items</a></li>
            <li><a href="#">Objets</a></li>
            <li><a href="{{ path('admin_origine_lister') }}">Traits</a></li>
            <li><a href="#">Paliers</a></li>
            <li><a href="{{ path('admin_champion_lister') }}">Champions</a></li>
            <li><a href="{{ path('admin_composition_lister') }}">Compositions</a></li>
            <li><a href="#">Légendes</a></li>
        </ul>
    </div>

    <div class="nav-right">
        <select>
            <option>Admin</option>
            <option>Anonyme</option>
        </select>
        <a class="nav-btn" href="{{ path('app') }}">Déconnexion</a>
    </div>


</nav>