{% extends '/admin/admin_base.html.twig' %}

{% block title %}Ajouter un palier{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un palier</h1>
        {{  form_start(form) }}

        <div class="form-row">
            {{  form_row(form.palier) }}
        </div>

        <div class="form-row">
            {{  form_row(form.origine) }}
        </div>

        <div class="form-row">
            {{  form_row(form.description) }}
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}
