<nav>
    <div class="nav-left">
        <div id="riot-games">
            <img src="{{ asset('images/riot.svg') }}" alt="Riot Games Logo">
            <div class="led"></div>
        </div>

        <ul>
            <li><a href="/actus">Actualités</a></li>
            <li><a href="/champions">Champions</a></li>
            <li><a href="/compositions">Compositions</a></li>
        </ul>
    </div>

    <a id="tftools" class href="{{ path('app') }}">
        <img src="{{ asset('images/tft-icon.svg') }}" alt="TFTools Logo">
    </a>

    <div class="nav-right">
        <a href="{{ path('admin') }}" class="nav-btn">Admin</a>
        <a class="nav-btn">Connexion</a>
        {#  <a>Nom</a>
            <a>Lier à TFT</a>
            <a>Déconnexion</a> #}
    </div>


</nav>

{#<nav>#}
{#    <div>#}
{#        <img id="riot-games" src="" alt="Riot Games Logo">#}
{#        <div class="led"></div>#}
{#    </div>#}

{#    <ul>#}
{#        <li><a href="/actus">Actualités</a></li>#}
{#        <li><a href="/champions">Champions</a></li>#}
{#        <li><a href="/compositions">Compositions</a></li>#}
{#    </ul>#}

{#    <a href="{{ path(app) }}">#}
{#        <img id="tftools" src="" alt="TFTools Logo">#}
{#    </a>#}

{#    <a>Lier un compte</a>#}
{#    <a>Déconnexion</a>#}
{#</nav>#}

{#<nav>#}
{#    <div>#}
{#        <img id="riot-games" src="" alt="Riot Games Logo">#}
{#        <div class="led"></div>#}
{#    </div>#}

{#    <ul>#}
{#        <li><a href="/actus">Actualités</a></li>#}
{#        <li><a href="/champions">Champions</a></li>#}
{#        <li><a href="/compositions">Compositions</a></li>#}
{#    </ul>#}

{#    <a href="{{ path(app) }}">#}
{#        <img id="tftools" src="" alt="TFTools Logo">#}
{#    </a>#}


{#</nav>#}
