{% extends '/admin/admin_base.html.twig' %}

{% block title %}{{ action }} une actualité{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ action }} une actualité</h1>
        {{  form_start(form) }}

        {% if illu is not null %}
            <img src="{{ asset('uploads/actualites/illustrations/' ~ illu) }}" style="width: 300px;">
        {% endif %}

        <div class="form-row">
            {{  form_row(form.titre) }}
        </div>

        <div class="form-row">
            {{  form_row(form.texte) }}
        </div>

        <div class="form-row">
            {{  form_row(form.illustration) }}
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}
