{% extends '/admin/admin_base.html.twig' %}

{% block title %}{{ action }} un champion{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ action }} un champion</h1>
        {{  form_start(form) }}

        <div class="form-row">
            {% if champion is not null %}
                <img src="{{ asset('images/champions/' ~ champion | lower | replace({' ': '_', "'": '-'}) ~ '.png') }}">
            {% endif %}

            {{  form_row(form.nom) }}
        </div>

        <div class="form-row">
            {{  form_row(form.tier) }}
        </div>

        <div class="form-row">
            {{  form_row(form.origines) }}
        </div>

        {{  form_end(form) }}
    </div>


{% endblock %}
