{% extends '/admin/admin_base.html.twig' %}

{% block title %}Champions{% endblock %}

{% block body %}

    <div class="container-admin">

        <h1>Liste des champions</h1>

        <table class="table" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Trait(s)</th>
                <th scope="col">Coût</th>
                <th scope="col">Actions</th>
                <th scope="col">
                    <a href="{{ path('admin_champion_ajouter') }}">➕</a>
                </th>

            </tr>
            </thead>

            <tbody>
            {% for champion in champions %}
                <tr>
                    <th scope="row">{{ champion.id }}</th>
                    <td class="img-name">
                        <img src="{{ asset('images/champions/' ~ champion.nom ~ '.png') }}">
                        {{ champion.nom }}
                    </td>
                    <td class="td-trait">
                        {% for origine in champion.origines %}
                            <span>{{ origine.nom }}</span>
                        {% endfor %}
                    </td>
                    <td class="cost">
                        {{ champion.tier }}
                        <img src="{{ asset('images/po-icon.svg') }}" alt="Pièce d'or">
                    </td>
                    <td>
                        <a href="{{ path('admin_champion_modifier', {'id': champion.id}) }}">🖊️</a>
                        <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer {{ champion.nom }} ? Attention cette action est irréversible.')" href="{{ path('admin_champion_supprimer', {'id': champion.id}) }}">🗑️</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
